<?xml version="1.0" ?>
<!-- This launches nodes to publish link frames for both actual and expected(goal) position of the robot arm. Use it as a visualization addon to default.launch-->
<launch>
  <arg name="arm_id" default="panda_left" doc="name of the controlled robot. Will set tf and joint prefixes, as well as the namespace for topics related to this robot" />   

  <node name="$(arg arm_id)_controller2jointstatemsgs" pkg="controller_panda_mti" type="controller2jointstatemsgspublisher.py"  output="screen" required="true"/>

  <group ns="actual">
    <node name="$(arg arm_id)_tf_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <remap from="/tf" to="tf" />
    </node>
    <!-- tf_prefixer is a necessary workaround for Rviz-->
    <node name="$(arg arm_id)_tf_prefixer" pkg="controller_panda_mti" type="tf_prefixer.py"  output="screen" required="true">
        <param name='tf_prefix' value='' />
    </node>
  </group>

  <group ns="expected"> 
    <node name="$(arg arm_id)_expected_tf_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="/tf" to="tf" />
    </node>
  <!-- tf_prefixer is a necessary workaround for for Rviz -->
  <node name="$(arg arm_id)_expected_tf_prefixer" pkg="controller_panda_mti" type="tf_prefixer.py"  output="screen" required="true">
      <param name='tf_prefix' value='expected/' />
  </node>
</group>
</launch>
