<?xml version="1.0" ?>

<launch>
  <arg name="for_real" default="true"/>
  <arg name="load_gripper" default="false" />
  <arg name="robot_ip" default="robot.franka.de" />
  <arg name="publish_rate" default="30" />

  <param if="$(arg for_real)" name="/panda/hostname" value="panda"/>

  <node pkg="controller_panda_mti" name="hardware_param" type="hardware_param.py" output="screen"/>
</launch>
