<?xml version="1.0" encoding="utf-8" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:property name="use_alt_dyn_params" value="True" />
  <xacro:include filename="$(find panda_dynamics_model)/urdf/panda_arm_plus_inertial.xacro" />
  <xacro:panda_arm safety_distance="0.03"/>  
</robot>
